/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroText {
  text-align: center;
  max-width: 50%;
}

.heroVisual {
  width: 40%;
  height: 300px;
  background: linear-gradient(45deg, var(--ifm-color-primary-dark), var(--ifm-color-primary-light));
  border-radius: 1rem;
  box-shadow: 0 0 50px var(--ifm-color-primary-darkest);
}

@media screen and (max-width: 996px) {
  .heroContainer {
    flex-direction: column;
  }

  .heroText {
    max-width: 100%;
    text-align: center;
  }

  .heroVisual {
    display: none;
  }
}
