.testimonialsSection {
  padding: 4rem 0;
  background-color: var(--ifm-background-color);
}

.testimonials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.testimonial {
  background-color: var(--ifm-color-emphasis-100);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.testimonialQuote {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.testimonialAuthor {
  font-weight: bold;
  text-align: right;
}

@media screen and (max-width: 996px) {
  .testimonials {
    flex-direction: column;
    align-items: center;
  }
}
